* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  box-sizing: border-box;
}

html {
  --color-heading: #3B6BFF;
  --color-text: #4a4a4a;
  --color-light-text: #888888;
  --color-border: #EFCF64;
  --color-light-bg: #f3f3f3;
  --color-background: #ffffff;
  --page-margin-top: 40px;
  --page-margin-bottom: 10px;
  --page-margin-right: 30px;
  --page-margin-left: 30px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-size: 9px;
  line-height: 10px;
  font-family: 'arial', sans-serif;
}

body:not(.pdf) document-page {
  margin: 20px auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  min-height: 842px;
  page-break-before: always;
  background-color: var(--color-background);
  position: relative;
  width: 595px;
}

document-page,
page-background,
page-header,
page-body,
page-footer {
  display: block;
}

document-page {
  position: relative;
  z-index: 1;
}

page-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 595px;
  height: 842px;
  z-index: -1;
}

page-header,
page-body,
page-footer {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: var(--page-margin-right);
  padding-left: var(--page-margin-left);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--color-heading);
}

section {
  margin-bottom: 0;
  padding-bottom: 14px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-transform: uppercase;
  color: var(--color-light-text);
  text-align: left;
  padding: 5px 0;
  font-weight: normal;
}

td {
  padding: 5px 0;
  vertical-align: top;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.header-spacing {
  height: var(--page-margin-top);
}

.footer-spacing {
  height: var(--page-margin-bottom);
}

.company-info__image {
  max-height: 60px;
  max-width: 100%;
  margin-bottom: 10px;
}

.horizontal-table {
  width: 100%;
}

.horizontal-table th {
  font-size: 8px;
  padding-bottom: 2px;
  padding-right: 4px;
}

.horizontal-table td {
  padding-top: 2px;
  padding-right: 4px;
  font-size: 9px;
}
